# Ignore everything by default
*

# Allow .gitignore
!.gitignore

# Allow directories so Git can see the folder structure
!*/

# Whitelist the Cluster_2 folder and all of its contents
!Cluster_2/
!Cluster_2/**

# Whitelist the Cluster_3 folder and all of its contents
!Cluster_3/
!Cluster_3/**
